.main {
    /* border: 1px solid blue; */
    margin-top: var(--nav-height);
    margin-left: var(--dashNav-width);
    padding: 30px 80px;
}

.table {
    /* border: 1px solid pink; */
    width: 80%;
    margin-bottom: 30px;
}

.thead {
    border-bottom: 1px solid var(--clr-background-3);
}

.th {
    text-align: left;
}

.ingredientForm {
    display: flex;
    gap: 5px;
}

.ingredientForm > input:focus {
    box-shadow: inset 0px 0px 2px white;
}