.main {
    /* border: 1px solid blue; */
    margin-top: var(--nav-height);
    margin-left: var(--dashNav-width);
    padding: 30px 300px 30px 80px;
}

.searchCriteriaContainer {
    display: flex;
    gap: 4px;
    margin-bottom: 30px;
}

.searchCriteriaContainer button:last-child {
    margin-left: auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 270px;
    height: 270px;
    border-radius: 6px;
    border: none;
    background-color: var(--clr-background-3);
    transition: all 150ms;
}

.card:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px var(--clr-background);
    color: var(--clr-primary);
}