.table {
    /* border: 1px solid red; */
    width: 100vw;
}

.tr {
    width: 100%;
    display: flex;
}

.tr > * {
    height: 40px;
}

.thead > h2 {
    height: auto;
}

.td {
    border: 1px solid gray;
    padding: 2px 8px;
}

.td.move {
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}
.td.del:disabled {
    opacity: 0;
}
.td.init {width: 5%;}
.td.name {width: 20%;}
.td.ac {width: 6%;}
.td.hp {width: 6%;}
.td.cond {width: 20%;}
.td.notes {width: 36%;}
.td.del {
    width: 4%;
    display: flex;
    align-items: center;
    border: none;
}